:root {
    --main-bg-color: rgb(48, 40, 40);
    --main-border-color: rgb(0, 0, 0);

    --main-font-color: rgb(255, 255, 255);
    --main-font-size-standart: 18px;

    --main-element-bg-color: rgb(68, 58, 58);
    --main-element-bg-color-hover: rgb(88, 78, 78);

    --main-border-radius: 15px;
    --main-page-gap: 3%;


    --controls-container-height: 90%;
    --controls-container-width: 66%;

    --list-container-height: 90%;
    --list-container-width: 26%;

    --list-menu-height: 5%;
    --list-menu-border-bottom: 4px solid var(--main-border-color);

    --list-inner-container-height: 90%;
    --list-inner-container-border-bottom:  4px solid var(--main-border-color);

    --list-item-height: 10%;
    --list-item-border-bottom: 3px solid var(--main-border-color);

    --list-item-icon-border-right: 3px solid var(--main-border-color);
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: var(--main-page-gap);

    background-color: var(--main-bg-color);
}

.controls-container {
    height: var(--controls-container-height);
    width: var(--controls-container-width);

    background-color: var(--main-element-bg-color);
    border-radius: var(--main-border-radius);
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: var(--list-container-height);
    width: var(--list-container-width);

    background-color: var(--main-element-bg-color);
    border-radius: var(--main-border-radius);
}

.list-menu {
    width: 100%;
    height: var(--list-menu-height);

    border-bottom: var(--list-menu-border-bottom);
}

.list-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow-y: auto;

    width: 100%;
    height: var(--list-inner-container-height);

    border-bottom: var(--list-inner-container-border-bottom);
}

.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: var(--list-item-height);

    border-bottom: var(--list-item-border-bottom);
}

.list-item:hover {
    background-color: var(--main-element-bg-color-hover);
    cursor: pointer;
}

.list-item-icon {
    height: 100%;

    border-right: var(--list-item-icon-border-right);
}

.list-item-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;

    padding: 5px;

    min-width: 0;

    height: 100%;
}

.list-item-text-name {
    display: block;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--main-font-color);
    font-size: var(--main-font-size-standart);

    width: 100%;
}

.list-item-text-duration {
    display: block;

    color: var(--main-font-color);
    font-size: var(--main-font-size-standart);

    width: 100%;
}