:root {
    --main-bg-color: rgb(48, 40, 40);
    --main-border-color: rgb(0, 0, 0);
    --main-element-bg-color: rgb(68, 58, 58);
    --main-element-bg-color-hover: rgb(88, 78, 78);

    --desktop-page-padding: 30px;
    --desktop-page-gap: 30px;
    --desktop-border-radius: 15px;

    --controls-container-width: 70%;
    --controls-container-height: 90%;

    --list-container-width: 30%;
    --list-container-height: 90%;

    --list-item-height: calc(100% / 10);
    --list-item-border-width: 2px;

    --list-upperMenu-border-width: 4px;
    --list-upperMenu-height: 5%;

    --list-inner-container-height: 95%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0 var(--desktop-page-padding);
    gap: var(--desktop-page-gap);

    background-color: var(--main-bg-color);
}



.controls-container {
    width: var(--controls-container-width);
    height: var(--controls-container-height);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    background-color: var(--main-element-bg-color);
    border-radius: var(--desktop-border-radius);
}



.list-container {
    width: var(--list-container-width);
    height: var(--list-container-height);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--main-element-bg-color);
    border-radius: var(--desktop-border-radius);
}

.list-upperMenu {
    width: 100%;
    height: var(--list-upperMenu-height);

    border-bottom: var(--main-border-color) 
                   var(--list-upperMenu-border-width) 
                   solid;
}

.list-inner-container {
    width: 100%;
    height: var(--list-inner-container-height);

    overflow-y: auto;
}

.music-list-item-playlist,
.music-list-item-song {
    width: 100%;
    height: var(--list-item-height);

    border-bottom: var(--main-border-color) 
                   var(--list-item-border-width) 
                   solid;
}

.music-list-item:hover {
    background-color: var(--main-element-bg-color-hover);
    cursor: pointer;
}




@media (max-width: 760px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 0;
        gap: 0;
    }


    .controls-container {
        width: 100%;
        height: 80%;

        border-radius: 0;
    }

    .list-container {
        width: 100%;
        height: 20%;

        border-radius: 0;
    }
}